
# Logs
logs
*.log
npm-debug.log*

# Runtime data
/pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directories
node_modules
jspm_packages

# Project output
/export

# Typings created by tsd/typings
/typings
